@keyframes rotate-ellipse {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.animate-rotate-ellipse {
    animation: rotate-ellipse 5s linear infinite;
}



@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll {
    display: flex;
    animation: scroll 20s linear infinite;
    white-space: nowrap;
}